@charset "UTF-8";
/* Body */

html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   background-color: #ffffff;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}

#wrapper img {
	width: 422px;
	height: auto;
	max-width: 800px;	
}